#branding_logo {
    border-radius: 0px;
}

#parent {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

#logo_div {
    position: relative;
    left: 100px;
}

.animated-line {
  height: 3px;
  border: none;
  background: linear-gradient(90deg, transparent, #ffffff, transparent);
  background-size: 200% 100%;
  animation: lineMove 4s linear infinite;
  opacity: 0.6;
}

@keyframes lineMove {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

