<!DOCTYPE html>
<head>

<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Delius&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"><script async src="https://www.googletagmanager.com/gtag/js?id=G-MF79NTDF5C"></script>
<link rel="icon" type="image/x-icon" href="/images/the_cullinan_pfp_black.png">
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MF79NTDF5C');
</script>
    <meta charset="UTF-8">
    <meta name="author" content="Rahul Pagare">
    <meta name="creator" content="Rahul Pagare">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Cullinan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://rahulp.pythonanywhere.com/inner/stylesheet/style_index.html.css">
    <meta name="ddosattack-target-verify" content="6415871c446c2b28275d9d1d791931095cc7e1eba07b901b026477f78963aebf" />
</head>
<style>

.table-transparent {
  background-color: transparent !important;
}

a { color: inherit; }


</style>
<body class="bg-black">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="info-fill" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
      </symbol>
    </svg>


<div class="d-flex justify-content-center align-items-center vh-100">
<div class="container text-center " style="text-white; width: 900px;">

    <div class="col" style="text-white;">
        <div class="card bg-black" style="text-white;width: 100%;">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="d-flex justify-content-center  text-white">
                            <!-- <H1 class="display-1 text-white text-center" style="text-align: center; font-family: Delius"><b>The Cullinan</b></H1> -->
                            <img src="/images/the_cullinan_pfp_black.png" width="50%">
                        </div>

                    </div>
                </div>



                <!-- <hr> -->
                <!--
                <h3 class="card-text text-white">Rahul Pagare (IST)</h2><a class="text-white" style="font-family: 'Vend Sans'" href="https://github.com/RahulPagare20">Github</a>
                <h3 class="card-text text-white">Aakira Khot (IST)</h2><a class="text-white" style="font-family: 'Vend Sans'" href="https://github.com/Aakira14">Github</a>
                <h3 class="card-text text-white">Jaden Kang (EST)</h3><a class="text-white" style="font-family: 'Vend Sans'" href="/">Github (?)</a> -->


<table class="table table-dark text-white table-borderless">
    <!--
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead> -->
  <tbody>
    <tr>
      <!-- <th scope="row">1.</th> -->
      <td><img src="/images/rahul_pfp.png" width="64" height="64" style="border-radius: 50px;"></td>
      <td><h3 class="card-text text-white" style="font-family: 'Delius'">Rahul Pagare</h3></td>
      <td><a class="text-white" style="font-family: 'Vend Sans'" href="https://github.com/RahulPagare20">Github</a></td>
      <td><a class="text-white" style="font-family: 'Vend Sans'" href="https://devpost.com/RahulPagare20">Devpost</a></td>
      <!-- <td><p class="lead text-white">Back-end Dev.*</p></td> -->
      <td><p class="lead text-white">Back-end Dev.*</p></td>
    </tr>
    <tr>
      <!-- <th scope="row">2.</th> -->
      <td><img src="/images/aakira_pfp.png" width="64" height="64" style="border-radius: 50px;"></td>
      <td><h3 class="card-text text-white" style="font-family: 'Delius'">Aakira Khot</h3></td>
      <td><a class="text-white" style="font-family: 'Vend Sans'" href="https://github.com/Aakira14">Github</a></td>
      <td><a class="text-white" style="font-family: 'Vend Sans'" href="https://devpost.com/Aakira14">Devpost</a></td>
      <td><p class="lead text-white">Front-end Dev. M1*</p></td>
    </tr>


    <tr>
      <!-- <th scope="row">2.</th> -->
      <td><img src="/images/kanak_pfp.png" width="64" height="64" style="border-radius: 50px;"></td>
      <td><h3 class="card-text text-white" style="font-family: 'Delius'">Kanak Saini</h3></td>
      <td><a class="text-white" style="font-family: 'Vend Sans'" href="https://github.com/kanakk020">Github</a></td>
      <td><a class="text-white" style="font-family: 'Vend Sans'" href="https://devpost.com/kanakk020">Devpost</a></td>
      <td><p class="lead text-white">Front-end Dev. M2*</p></td>
    </tr>


  </tbody>
</table>


            </div>
        </div>
            <hr class="animated-line">


                <h2 class="card-text text-white" id="CodeCraftersshelp"  style="font-weight: 400; font-family: 'Playfair Display';" data-bs-toggle="modal" data-bs-target="#exampleModal"><!-- <b>Team Members</b> --> <b>A team for the STEMINATE Hacks 2026.</b></h2>
                <hr class="animated-line">
                </div>


    <br>
    <!--
    <div class="row row-bottom-margin">
        <h2 class="text-white" style="font-family: 'Playfair Display'">A team for STEMINATE Hackathon 2026.</h2>
    </div> -->


</div>









<!--
    <div class="row mt-4">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 70%; margin: auto">
            <strong>Dear <b>CodeCrafters</b> users,</strong><br> Please note that it is still in <b>Alpha v1.0.2</b> version and new features will be added occasionally. Developers have full access to all accounts, hence it is a benevolent request to <b>NOT</b> get excited if you see your account get deleted or changed one fine day :)
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>





<script>
const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>






























        <!--

                            <a class="list-group-item list-group-item-action" href="/login">Login</a>
                            <a class="list-group-item list-group-item-action" href="/sign-up">Sign Up</a>

    -->

<!--
    <div class="container" id="parent">
        <div class="row" id="child">
            <div class="col align-middle" id="logo_div">
                <!-- <img src="../inner/server/images/shrink_logo.png" width="65%" id="branding_logo">
                <h1>#WIP</h1>
            </div>
            <div class="col-6 align-middle">
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <H1 class="display-3 card-title">Hello there!</H1>
                        <H1 class="display-4">CodeCrafters <b>Alpha v1.0.2</b></H1>
                        <br>
                        <H4 class="card-subtitle mb-2 text-body-secondary"><b><i>Rahul. P</i></b></H4>
                        <br>
                        <H2 class="lead">Your one stop solution for Live web communications!</H2>
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action" href="/login">Login</a>
                            <a class="list-group-item list-group-item-action" href="/sign-up">Sign Up</a>
                        </div>
                        <H2 class="lead"></H2>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->















</body>
