<!DOCTYPE html>
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


<script async src="https://www.googletagmanager.com/gtag/js?id=G-MF79NTDF5C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MF79NTDF5C');
</script>
	<title>Redirection midpoint - The Cullinan</title>
</head>
<body class="bg-black">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% if error %}
        <div class="card bg-black ">
                    <div class="bg-black card-body" >
                        <!-- Button trigger modal -->
                        <!--
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 30%;">
                          Need help?
                        </button> -->

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Message you might want to see:️</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  {{ error }}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="javascript: redirect_to()">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <p id="connitshelp" data-bs-toggle="modal" data-bs-target="#exampleModal"></p>

    {% endif %}

<script>
    {% if error %}
        window.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('connitshelp').click();
        });
        function redirect_to() {
            window.location = "{{ url_ }}"
        }
    {% else %}
        window.location = "{{ url_ }}"
    {% endif %}
</script>
</body>
